.navbar{
    margin-bottom: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #645CAA;
    &__list{
        display: flex;
        list-style: none;
        width: fit-content;
        &__item{
            margin-right: 20px;
        }
    }

}